In [1]:
# https://zhuanlan.zhihu.com/p/280892036
# https://zhuanlan.zhihu.com/p/499600704
import pandas as pd
import statsmodels.formula.api as smf #方法二
import numpy

df = pd.read_csv('data/2014/2014familyRelation.csv')
#显示所有行，把列显示设置成最大
# pd.set_option('display.max_rows', None)
df.describe().T

/Users/askuy/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (18,38,58,78,98,118) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,count,mean,std,min,25%,50%,75%,max
fid14,57734.0,3.899463e+05,1.616113e+05,100051.0,255141.0,410910.0,510357.0,2781941.0
fid12,57734.0,3.690519e+05,1.804955e+05,-8.0,220214.0,410695.0,510170.0,997793.0
fid10,57734.0,3.392409e+05,1.931996e+05,-8.0,210738.0,370778.5,450240.0,621872.0
provcd14,57734.0,3.916488e+01,1.476277e+01,11.0,31.0,41.0,51.0,65.0
countyid14,57734.0,2.054524e+02,6.982253e+02,-9.0,42.0,92.0,131.0,8980.0
...,...,...,...,...,...,...,...,...
kz101pid_2,57734.0,9.403522e+06,6.368532e+07,-8.0,-8.0,-8.0,-8.0,715812431.0
cyear,57734.0,2.014033e+03,1.788995e-01,2014.0,2014.0,2014.0,2014.0,2015.0
cmonth,57734.0,7.700125e+00,1.578084e+00,1.0,7.0,8.0,8.0,12.0
kz103,57734.0,3.047805e+00,2.074447e+00,-9.0,1.0,5.0,5.0,5.0
releaseversion,57734.0,2.000000e+00,0.000000e+00,2.0,2.0,2.0,2.0,2.0

In [2]:
col_n = ['pid','pid_f','pid_m','fid14','qa301_a14_s','tb4_a14_s','tb1y_a_s','tb1m_a_s','cyear','cmonth','pid_s']
df = pd.DataFrame(df,columns = col_n)

df.describe().T

,count,mean,std,min,25%,50%,75%,max
pid,57734.0,3.932709e+08,1.523905e+08,100051501.0,3.108981e+08,411055101.5,5.103793e+08,2.781942e+09
pid_f,57734.0,1.733000e+08,2.238706e+08,-8.0,-8.000000e+00,-8.0,4.105391e+08,2.489152e+09
pid_m,57734.0,1.831704e+08,2.254135e+08,-8.0,-8.000000e+00,-8.0,4.109401e+08,2.489152e+09
fid14,57734.0,3.899463e+05,1.616113e+05,100051.0,2.551410e+05,410910.0,5.103570e+05,2.781941e+06
qa301_a14_s,57634.0,-2.903980e+00,4.897351e+00,-8.0,-8.000000e+00,1.0,1.000000e+00,7.900000e+01
tb4_a14_s,57628.0,-1.805286e+00,5.583785e+00,-9.0,-8.000000e+00,1.0,3.000000e+00,9.000000e+00
tb1y_a_s,57634.0,1.113918e+03,9.781515e+02,-9.0,-8.000000e+00,1948.0,1.970000e+03,1.998000e+03
tb1m_a_s,57631.0,9.078447e-02,7.663807e+00,-9.0,-8.000000e+00,2.0,7.000000e+00,1.200000e+01
cyear,57734.0,2.014033e+03,1.788995e-01,2014.0,2.014000e+03,2014.0,2.014000e+03,2.015000e+03
cmonth,57734.0,7.700125e+00,1.578084e+00,1.0,7.000000e+00,8.0,8.000000e+00,1.200000e+01
pid_s,57734.0,2.185209e+08,2.236591e+08,-8.0,-8.000000e+00,210012101.5,4.115321e+08,2.948422e+09

In [3]:
df.rename(columns={"fid14":"fid","qa301_a14_s":'mate_hukou','tb4_a14_s':'mate_edu','pid_s':'mate_pid'},inplace=True)
df.describe().T
def getMageAge(birthYear):
    if birthYear <= 0:
        return birthYear
    else:
        return (2014-birthYear)
df['mate_age'] = df.apply(lambda x: getMageAge(x.tb1y_a_s), axis=1)

In [4]:
col_n = ['pid','fid','mate_hukou','mate_edu','mate_age','pid_f','pid_m','mate_pid']
df = pd.DataFrame(df,columns = col_n)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
pid,57734.0,3.932709e+08,1.523905e+08,100051501.0,3.108981e+08,411055101.5,5.103793e+08,2.781942e+09
fid,57734.0,3.899463e+05,1.616113e+05,100051.0,2.551410e+05,410910.0,5.103570e+05,2.781941e+06
mate_hukou,57634.0,-2.903980e+00,4.897351e+00,-8.0,-8.000000e+00,1.0,1.000000e+00,7.900000e+01
mate_edu,57628.0,-1.805286e+00,5.583785e+00,-9.0,-8.000000e+00,1.0,3.000000e+00,9.000000e+00
mate_age,57634.0,2.347482e+01,2.955553e+01,-9.0,-8.000000e+00,29.0,4.900000e+01,9.300000e+01
pid_f,57734.0,1.733000e+08,2.238706e+08,-8.0,-8.000000e+00,-8.0,4.105391e+08,2.489152e+09
pid_m,57734.0,1.831704e+08,2.254135e+08,-8.0,-8.000000e+00,-8.0,4.109401e+08,2.489152e+09
mate_pid,57734.0,2.185209e+08,2.236591e+08,-8.0,-8.000000e+00,210012101.5,4.115321e+08,2.948422e+09

In [5]:
import pandas as pd
personDf = pd.read_csv('data/2014/2014.csv')

col_n = ['pid','qg12','provcd14','cfps2012_latest_edu','cfps2014_age','urban14','qa301','qea0','qp201','cfps_gender','qi101','qi200','qi2001','qi1011','fid14','qi201_s_1','qi201_s_2','qi201_s_3','qi201_s_4','qi201_s_5','qi301_s_1','qi301_s_2','qi301_s_3','qi301_s_4','qi301_s_5','qi301_s_6','qi301_s_7','retirement2012']
personDf = pd.DataFrame(personDf,columns = col_n)

def isRetire(x):
    if x.qi101 == 1 :
        return 1
    elif x.retirement2012 == 1 :
        return 1           
    # 如果都小于0，才能是为无效数据
    elif (x.qi101 < 0) & (x.retirement2012 < 0):
        return -8
    else:
        return 0
personDf['is_retire'] = personDf.apply(lambda x:isRetire(x), axis=1)

In [6]:
personDf.rename(columns={'fid14':'fid','provcd14':'province','qg12':'salary','cfps2012_latest_edu':"edu","cfps2014_age":"age","qa301":"hukou","qea0":"marry","qp201":"health","urban14":"urban","cfps_gender":"gender"},inplace=True)
personDf.describe().T

,count,mean,std,min,25%,50%,75%,max
pid,37147.0,3.883247e+08,1.530402e+08,100051501.0,275928501.5,410818432.0,510314101.5,2.489152e+09
salary,37147.0,8.414591e+03,1.881558e+04,-8.0,-8.0,-8.0,9000.0,8.000000e+05
province,37147.0,3.865558e+01,1.503495e+01,11.0,31.0,41.0,51.0,6.500000e+01
edu,37147.0,1.424987e+00,3.385781e+00,-8.0,1.0,2.0,3.0,8.000000e+00
age,37147.0,4.522368e+01,1.746612e+01,-8.0,30.0,45.0,59.0,1.040000e+02
urban,37147.0,-2.661319e-01,2.593396e+00,-9.0,0.0,0.0,1.0,1.000000e+00
hukou,35942.0,1.550109e+00,1.513590e+00,-1.0,1.0,1.0,3.0,7.900000e+01
marry,37147.0,2.071742e+00,8.902792e-01,-1.0,2.0,2.0,2.0,5.000000e+00
health,37147.0,2.946752e+00,1.260659e+00,-8.0,2.0,3.0,4.0,5.000000e+00
gender,37147.0,5.000404e-01,5.000067e-01,0.0,0.0,1.0,1.0,1.000000e+00
qi101,37147.0,-4.344604e+00,4.121831e+00,-9.0,-8.0,-8.0,0.0,1.000000e+00
qi200,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qi2001,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qi1011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fid,37147.0,3.844629e+05,1.638780e+05,100051.0,230354.5,410506.0,510251.5,2.781941e+06
qi201_s_1,37147.0,1.995946e+01,3.797088e+01,-9.0,-8.0,-8.0,78.0,7.800000e+01
qi201_s_2,37147.0,-7.789000e+00,3.487763e+00,-8.0,-8.0,-8.0,-8.0,7.700000e+01
qi201_s_3,37147.0,-7.994185e+00,2.751751e-01,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi201_s_4,37147.0,-7.999354e+00,8.804983e-02,-8.0,-8.0,-8.0,-8.0,4.000000e+00
qi201_s_5,37147.0,-7.999596e+00,7.782684e-02,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi301_s_1,37147.0,2.578695e+01,3.654847e+01,-9.0,2.0,6.0,78.0,7.800000e+01
qi301_s_2,37147.0,-7.584354e+00,3.410565e+00,-8.0,-8.0,-8.0,-8.0,7.700000e+01
qi301_s_3,37147.0,-7.956309e+00,8.526263e-01,-8.0,-8.0,-8.0,-8.0,7.700000e+01
qi301_s_4,37147.0,-7.992355e+00,3.154277e-01,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi301_s_5,37147.0,-7.997846e+00,1.706566e-01,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi301_s_6,37147.0,-7.998977e+00,1.162463e-01,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi301_s_7,37147.0,-7.999596e+00,7.782684e-02,-8.0,-8.0,-8.0,-8.0,7.000000e+00
retirement2012,37147.0,-2.199908e-01,1.520355e+00,-8.0,0.0,0.0,0.0,1.000000e+00
is_retire,37147.0,-2.430883e-02,1.379046e+00,-8.0,0.0,0.0,0.0,1.000000e+00

In [7]:
newDf = pd.merge(df,personDf,on = ['pid','fid'])
newDf.describe().T

,count,mean,std,min,25%,50%,75%,max
pid,37147.0,3.883247e+08,1.530402e+08,100051501.0,275928501.5,410818432.0,510314101.5,2.489152e+09
fid,37147.0,3.844629e+05,1.638780e+05,100051.0,230354.5,410506.0,510251.5,2.781941e+06
mate_hukou,37105.0,-1.160571e+00,4.498830e+00,-8.0,-8.0,1.0,1.0,7.900000e+01
mate_edu,37099.0,6.692903e-02,5.038519e+00,-9.0,-8.0,2.0,3.0,9.000000e+00
mate_age,37105.0,3.356637e+01,2.745027e+01,-9.0,-8.0,41.0,54.0,9.300000e+01
pid_f,37147.0,1.149660e+08,1.995783e+08,-8.0,-8.0,-8.0,210553102.0,2.489152e+09
pid_m,37147.0,1.259350e+08,2.051970e+08,-8.0,-8.0,-8.0,230215266.5,2.489152e+09
mate_pid,37147.0,2.839981e+08,2.151758e+08,-8.0,-8.0,312534101.0,440728603.0,2.948422e+09
salary,37147.0,8.414591e+03,1.881558e+04,-8.0,-8.0,-8.0,9000.0,8.000000e+05
province,37147.0,3.865558e+01,1.503495e+01,11.0,31.0,41.0,51.0,6.500000e+01
edu,37147.0,1.424987e+00,3.385781e+00,-8.0,1.0,2.0,3.0,8.000000e+00
age,37147.0,4.522368e+01,1.746612e+01,-8.0,30.0,45.0,59.0,1.040000e+02
urban,37147.0,-2.661319e-01,2.593396e+00,-9.0,0.0,0.0,1.0,1.000000e+00
hukou,35942.0,1.550109e+00,1.513590e+00,-1.0,1.0,1.0,3.0,7.900000e+01
marry,37147.0,2.071742e+00,8.902792e-01,-1.0,2.0,2.0,2.0,5.000000e+00
health,37147.0,2.946752e+00,1.260659e+00,-8.0,2.0,3.0,4.0,5.000000e+00
gender,37147.0,5.000404e-01,5.000067e-01,0.0,0.0,1.0,1.0,1.000000e+00
qi101,37147.0,-4.344604e+00,4.121831e+00,-9.0,-8.0,-8.0,0.0,1.000000e+00
qi200,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qi2001,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qi1011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qi201_s_1,37147.0,1.995946e+01,3.797088e+01,-9.0,-8.0,-8.0,78.0,7.800000e+01
qi201_s_2,37147.0,-7.789000e+00,3.487763e+00,-8.0,-8.0,-8.0,-8.0,7.700000e+01
qi201_s_3,37147.0,-7.994185e+00,2.751751e-01,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi201_s_4,37147.0,-7.999354e+00,8.804983e-02,-8.0,-8.0,-8.0,-8.0,4.000000e+00
qi201_s_5,37147.0,-7.999596e+00,7.782684e-02,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi301_s_1,37147.0,2.578695e+01,3.654847e+01,-9.0,2.0,6.0,78.0,7.800000e+01
qi301_s_2,37147.0,-7.584354e+00,3.410565e+00,-8.0,-8.0,-8.0,-8.0,7.700000e+01
qi301_s_3,37147.0,-7.956309e+00,8.526263e-01,-8.0,-8.0,-8.0,-8.0,7.700000e+01
qi301_s_4,37147.0,-7.992355e+00,3.154277e-01,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi301_s_5,37147.0,-7.997846e+00,1.706566e-01,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi301_s_6,37147.0,-7.998977e+00,1.162463e-01,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi301_s_7,37147.0,-7.999596e+00,7.782684e-02,-8.0,-8.0,-8.0,-8.0,7.000000e+00
retirement2012,37147.0,-2.199908e-01,1.520355e+00,-8.0,0.0,0.0,0.0,1.000000e+00
is_retire,37147.0,-2.430883e-02,1.379046e+00,-8.0,0.0,0.0,0.0,1.000000e+00

In [8]:
import pandas as pd

incomeDf = pd.read_csv('data/2014/2014familyincome.csv')
col_n = ['fid14','fml2014num','fincome1']
incomeDf = pd.DataFrame(incomeDf,columns = col_n)
incomeDf.rename(columns={'fid14':'fid',"fml2014num":'familysize','fincome1':'fincome'},inplace=True)
incomeDf.describe().T

,count,mean,std,min,25%,50%,75%,max
fid,13946.0,370174.985229,168414.193592,100051.0,220132.0,370400.0,450265.75,2781941.0
familysize,13946.0,3.711243,1.843232,1.0,2.0,3.0,5.00,17.0
fincome,12701.0,55534.859449,125211.221425,1.0,17570.0,38200.0,66620.00,6278000.0

In [9]:
newDf = pd.merge(newDf,incomeDf,on = ['fid'])
newDf.describe().T

,count,mean,std,min,25%,50%,75%,max
pid,36865.0,3.879778e+08,1.531691e+08,100051501.0,249487501.0,410809102.0,510297104.0,2.489152e+09
fid,36865.0,3.843174e+05,1.631818e+05,100051.0,230350.0,410506.0,510245.0,2.781941e+06
mate_hukou,36824.0,-1.151369e+00,4.496264e+00,-8.0,-8.0,1.0,1.0,7.900000e+01
mate_edu,36818.0,7.287196e-02,5.035214e+00,-9.0,-8.0,2.0,3.0,9.000000e+00
mate_age,36824.0,3.359869e+01,2.743680e+01,-9.0,-8.0,41.0,55.0,9.300000e+01
pid_f,36865.0,1.145245e+08,1.992766e+08,-8.0,-8.0,-8.0,210414101.0,2.489152e+09
pid_m,36865.0,1.254546e+08,2.049177e+08,-8.0,-8.0,-8.0,230108103.0,2.489152e+09
mate_pid,36865.0,2.839211e+08,2.150588e+08,-8.0,-8.0,312516102.0,440699101.0,2.948422e+09
salary,36865.0,8.394770e+03,1.879507e+04,-8.0,-8.0,-8.0,8500.0,8.000000e+05
province,36865.0,3.861503e+01,1.504094e+01,11.0,31.0,41.0,51.0,6.500000e+01
edu,36865.0,1.429052e+00,3.378899e+00,-8.0,1.0,2.0,3.0,8.000000e+00
age,36865.0,4.523347e+01,1.745442e+01,-8.0,30.0,45.0,59.0,1.040000e+02
urban,36865.0,-2.579683e-01,2.580290e+00,-9.0,0.0,0.0,1.0,1.000000e+00
hukou,35710.0,1.550882e+00,1.516874e+00,-1.0,1.0,1.0,3.0,7.900000e+01
marry,36865.0,2.071613e+00,8.894965e-01,-1.0,2.0,2.0,2.0,5.000000e+00
health,36865.0,2.946155e+00,1.260547e+00,-8.0,2.0,3.0,4.0,5.000000e+00
gender,36865.0,4.997966e-01,5.000067e-01,0.0,0.0,0.0,1.0,1.000000e+00
qi101,36865.0,-4.341001e+00,4.122152e+00,-9.0,-8.0,-8.0,0.0,1.000000e+00
qi200,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qi2001,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qi1011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qi201_s_1,36865.0,2.000901e+01,3.798912e+01,-9.0,-8.0,-8.0,78.0,7.800000e+01
qi201_s_2,36865.0,-7.788282e+00,3.499653e+00,-8.0,-8.0,-8.0,-8.0,7.700000e+01
qi201_s_3,36865.0,-7.994141e+00,2.762251e-01,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi201_s_4,36865.0,-7.999349e+00,8.838595e-02,-8.0,-8.0,-8.0,-8.0,4.000000e+00
qi201_s_5,36865.0,-7.999593e+00,7.812394e-02,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi301_s_1,36865.0,2.577518e+01,3.654239e+01,-9.0,2.0,6.0,78.0,7.800000e+01
qi301_s_2,36865.0,-7.587414e+00,3.363457e+00,-8.0,-8.0,-8.0,-8.0,7.700000e+01
qi301_s_3,36865.0,-7.956381e+00,8.523205e-01,-8.0,-8.0,-8.0,-8.0,7.700000e+01
qi301_s_4,36865.0,-7.992296e+00,3.166312e-01,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi301_s_5,36865.0,-7.997830e+00,1.713080e-01,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi301_s_6,36865.0,-7.998969e+00,1.166900e-01,-8.0,-8.0,-8.0,-8.0,7.000000e+00
qi301_s_7,36865.0,-7.999593e+00,7.812394e-02,-8.0,-8.0,-8.0,-8.0,7.000000e+00
retirement2012,36865.0,-2.186627e-01,1.517193e+00,-8.0,0.0,0.0,0.0,1.000000e+00
is_retire,36865.0,-2.262308e-02,1.374399e+00,-8.0,0.0,0.0,0.0,1.000000e+00
familysize,36865.0,4.358877e+00,1.969357e+00,1.0,3.0,4.0,5.0,1.700000e+01
fincome,34236.0,5.919783e+04,1.193665e+05,1.0,20760.0,42000.0,72000.0,6.278000e+06

In [10]:
import pandas as pd

careDf = pd.read_csv('data/2014/2014_family_care.csv')
col_n = ['fid14','wb202_new']
careDf = pd.DataFrame(careDf,columns = col_n)
careDf.rename(columns={'fid14':'fid','wb202_new':'care'},inplace=True)
careDf.describe().T

,count,mean,std,min,25%,50%,75%,max
fid,8616.0,405304.398909,165002.665852,100435.0,311847.5,411566.0,510906.25,2702641.0
care,8616.0,9.494313,19.426776,-8.0,2.0,5.0,5.00,77.0

In [11]:
newDf = pd.merge(newDf,careDf,on=['fid'])
newDf.describe().T

,count,mean,std,min,25%,50%,75%,max
pid,27138.0,4.131237e+08,1.477979e+08,100453431.0,340316604.0,411817102.5,5.109691e+08,1.715283e+09
fid,27138.0,4.119491e+05,1.559151e+05,100435.0,330305.0,411763.0,5.110560e+05,2.702641e+06
mate_hukou,27113.0,-3.606388e-01,4.010294e+00,-8.0,1.0,1.0,1.000000e+00,7.900000e+01
mate_edu,27107.0,1.156602e+00,4.398759e+00,-9.0,1.0,2.0,3.000000e+00,9.000000e+00
mate_age,27113.0,3.487803e+01,2.262971e+01,-9.0,27.0,37.0,5.100000e+01,9.100000e+01
pid_f,27138.0,1.125112e+08,2.001538e+08,-8.0,-8.0,-8.0,1.400861e+08,9.850744e+08
pid_m,27138.0,1.277567e+08,2.087443e+08,-8.0,-8.0,-8.0,3.118741e+08,9.850744e+08
mate_pid,27138.0,3.414329e+08,2.051038e+08,-8.0,140540185.0,410541101.5,4.503591e+08,2.948422e+09
salary,27138.0,7.833649e+03,1.720582e+04,-8.0,-8.0,-8.0,6.000000e+03,3.800000e+05
province,27138.0,4.115112e+01,1.450483e+01,11.0,34.0,41.0,5.100000e+01,6.500000e+01
edu,27138.0,1.317046e+00,3.336018e+00,-8.0,1.0,2.0,3.000000e+00,8.000000e+00
age,27138.0,4.260517e+01,1.579826e+01,-8.0,30.0,39.0,5.500000e+01,1.020000e+02
urban,27138.0,-3.876852e-01,2.636411e+00,-9.0,0.0,0.0,1.000000e+00,1.000000e+00
hukou,26361.0,1.375555e+00,1.694430e+00,-1.0,1.0,1.0,1.000000e+00,7.900000e+01
marry,27138.0,2.109993e+00,7.744175e-01,1.0,2.0,2.0,2.000000e+00,5.000000e+00
health,27138.0,2.884590e+00,1.236648e+00,-8.0,2.0,3.0,4.000000e+00,5.000000e+00
gender,27138.0,4.775223e-01,4.995037e-01,0.0,0.0,0.0,1.000000e+00,1.000000e+00
qi101,27138.0,-5.003022e+00,3.988300e+00,-9.0,-8.0,-8.0,0.000000e+00,1.000000e+00
qi200,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qi2001,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qi1011,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qi201_s_1,27138.0,1.415882e+01,3.579022e+01,-9.0,-8.0,-8.0,6.000000e+00,7.800000e+01
qi201_s_2,27138.0,-7.873351e+00,2.812957e+00,-8.0,-8.0,-8.0,-8.000000e+00,7.700000e+01
qi201_s_3,27138.0,-7.999595e+00,6.677344e-02,-8.0,-8.0,-8.0,-8.000000e+00,3.000000e+00
qi201_s_4,27138.0,-8.000000e+00,0.000000e+00,-8.0,-8.0,-8.0,-8.000000e+00,-8.000000e+00
qi201_s_5,27138.0,-8.000000e+00,0.000000e+00,-8.0,-8.0,-8.0,-8.000000e+00,-8.000000e+00
qi301_s_1,27138.0,2.748677e+01,3.615387e+01,-9.0,3.0,6.0,7.800000e+01,7.800000e+01
qi301_s_2,27138.0,-7.611025e+00,3.222978e+00,-8.0,-8.0,-8.0,-8.000000e+00,7.700000e+01
qi301_s_3,27138.0,-7.959393e+00,8.665465e-01,-8.0,-8.0,-8.0,-8.000000e+00,7.700000e+01
qi301_s_4,27138.0,-7.991525e+00,3.302696e-01,-8.0,-8.0,-8.0,-8.000000e+00,7.000000e+00
qi301_s_5,27138.0,-7.997679e+00,1.734967e-01,-8.0,-8.0,-8.0,-8.000000e+00,7.000000e+00
qi301_s_6,27138.0,-7.998784e+00,1.194131e-01,-8.0,-8.0,-8.0,-8.000000e+00,7.000000e+00
qi301_s_7,27138.0,-8.000000e+00,0.000000e+00,-8.0,-8.0,-8.0,-8.000000e+00,-8.000000e+00
retirement2012,27138.0,-2.715012e-01,1.531379e+00,-8.0,0.0,0.0,0.000000e+00,1.000000e+00
is_retire,27138.0,-1.018130e-01,1.400936e+00,-8.0,0.0,0.0,0.000000e+00,1.000000e+00
familysize,27138.0,5.993109e+00,2.228877e+00,1.0,5.0,6.0,7.000000e+00,1.700000e+01
fincome,25308.0,5.933872e+04,9.094061e+04,1.0,23300.0,44700.0,7.500000e+04,4.073000e+06
care,27138.0,8.954050e+00,1.869767e+01,-8.0,2.0,5.0,5.000000e+00,7.700000e+01

In [12]:
newDf.to_csv('output/2014_all_process.csv')